<%- include('../partials/start'); -%>
    <%- include('../layouts/header'); -%>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <%- include('../layouts/about'); -%>
    <%- include('../layouts/contact'); -%>

    <%- include('../layouts/footer'); -%>

<%- include('../partials/end'); -%>
